*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 87.3vh;
    background:url(./Assets/leftimg.svg) -270px 275px  no-repeat,url(./Assets/rightimg.svg) 1130px 268px  no-repeat, url(./Assets/cloud.svg) center no-repeat, rgb(64,78,237);
    /* background-color: rgb(64,78,237); */
    overflow: hidden;
}
#home>nav{
    width: 100%;
    height: 9.5%;
    /* background-color: brown; */
    display: flex;
}
#home>nav>.logo{
    height: 100%;
    width: 30%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#home>nav>.logo>svg{
    width: 30%;
    color: white;
    position: relative;
    top:10.1px;
    left:3.5px;
}
#home>nav>.navbar{
    height: 100%;
    width: 39.1%;
    /* background-color: rgb(255, 242, 0); */
    position: relative;
    left: 6.45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#home>nav>.navbar>.navcont{
    color: white;
    font-family: myfont;
    font-size: 16px;
    font-weight: 0;
    position: relative;
    bottom: 8.5px;

}
@font-face {
    font-family: myfont;
    src: url(./Assets/text/gg\ sans\ Semibold.ttf);
}
@font-face {
    font-family: myfont1;
    src: url(./Assets/text/gg\ sans\ Medium.ttf);
}
#home>nav>.login{
    height: 100%;
    width: 30%;
    /* background-color: rgb(0, 81, 255); */
    
}
#home>nav>.login>button{
    height: 38px;
    width: 64.9875px;
    border: 0;
    border-radius:30px;
    background-color: white;
    position: relative;
    color: rgb(35, 39, 42);
    left: 51.5%;
    top: 21px;
    text-align: center;
    font-family: myfont1;
    /* font-weight: 500; */
    font-size: 14px;
}
#home>article{
    width: 100%;
    height: 90.5%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#home>article>.content{
    width: 51%;
    height: 49%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home>article>.content>.top{
    width: 100%;
    height: 23%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#home>article>.content>.top>p{
 font-family: myf;
 font-size: 52px;
 position: relative;
 bottom: 16px;
 color: white;
 
 
}
@font-face {
    font-family: myf;
    src: url(./Assets/text/ABCGintoNord-Ultra-Trial-BF651b7b783d44c.otf);
}
#home>article>.content>.mid{
    width: 100%;
    height: 45%;
    /* background-color: rgb(10, 171, 239); */
}
#home>article>.content>.mid>p{
    font-family: myf1;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 32.5px;
    position: relative;
    top: 25px;

}
@font-face {
    font-family: myf1;
    src: url(./Assets/text/gg\ sans\ Regular.ttf);
}
#home>article>.content>.btm{
    width: 81.7%;
    height: 40%;
    /* background-color: rgb(193, 113, 9); */
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
}
#home>article>.content>.btm>.btn1{
    border-radius: 28px;
    font-size: 20px;
    background-color: #fff;
    font-family: myf1;
    font-weight: 500;
    color: #23272a;
    height: 56px;
    width: 293.087px;
    border: 0;
}
#home>article>.content>.btm>.btn2{
    border-radius: 28px;
    font-size: 20px;
    background-color:#23272a;
    font-family: myf1;
    font-weight: 500;
    color:  #fff;
    height: 56px;
    width: 317.087px;
    border: 0;
    position: relative;
    left: 1px;
}
#create{
    width: 100%;
    height: 100vh;
    background-color: bisque;
}
